/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  /* First Page Styles */
  #first-page {
    background-image: url('mountain.jpeg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style-type: none;
  }
  .page-content {
    margin-top: -500px;
  }
  .profile-picture {
    width: 3000px;
    height: 3000px;
    border-radius: 90%;
    margin: 30px auto;
    display: block;
    object-fit: cover;
  }
  
  
  .nav-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-menu li:first-child {
    margin-left: 0;
  }
  
  .nav-menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .page-title {
    font-size: 50px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
  }
  
  .page-link {
    display: inline-block;
    padding: 16px 32px;
    background-color: #fff;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Pages */
  .page {
    padding: 80px;
  }
  
  .section-title {
    font-size: 36px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
  }
  
  /* Projects Page */
  .project {
    margin-bottom: 40px;
  }
  
  .project-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 18px;
    line-height: 1.6;
  }
  
  /* About Page */
  .profile-picture {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
  }
  
  .section-content {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 80px;
  }
  
  /* Resources Page */
  .resource-list {
    list-style-type: none;
    padding: 0;
  }
  
  .resource-list li {
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .resource-list li a {
    color: #333;
    text-decoration: none;
  }
  
  .resource-list li a:hover {
    color: #777;
    text-decoration: underline;
  }
  
  /* Contact Page */
  .contact-info {
    font-size: 20px;
    margin-bottom: 10px;
  }
  